<div class="containter">
  <script type="text/ng-template" id="solarSeals.html">
      <img src="http://mayankin.com/imgs/tzolkin/solarSeals.jpg" alt="Solar Seals">
  </script>
  <script type="text/ng-template" id="lunarTones.html">
      <img src="http://mayankin.com/imgs/tzolkin/13LunarTones.jpg" alt="Lunar Tones">
  </script>


  <h1>Tzolkin</h1>
  <p>Tzolkin, meaning the "Count of Days" in Yucatecan, is the Sacred Mayan Calendar that was utilized by Mayan priests for ceremonies, rituals and divination purposes. This sacred calendar was followed by several Mesoamerican cultures and, although expressed with different names, they all consisted of a combination of 20 symbols by 13 numbers. The Cholq'ij, its name in Quiche, is still in use by the Day Keepers in Mayan communities of Highland Guatemala.</p>
  <p>The 20 symbols or glyphs are energies or archetypes represented by names, called in their modern term as Solar Seals. The 13 numbers are expressed in dots and bars and are known as Lunar Tones. Both, glyphs and numbers, have a correlation to the Human body (twenty fingers and toes and thirteen joints), and the entire 260-day cycle also relates to both human gestation (pregnancy) and corn cultivation cycles.</p>
  <p>Each day has a unique combination of energies that affects a specific part of our Being. Getting in tune with the energies is a wonderful way to reconnect with our essence, feel part of the web of life and live in harmony with all existence!</p>
  <p>The modern version of the ancient Mayan Tzolkin is known as Natural Time 13:20, called as Dreamspell by Dr. Jose Arguelles. Each day of the 260-day cycle is known as a Kin, which is a combination of a Solar Seal (glyph) and a Lunar Tone (number). All 260 kins create a matrix known as the Harmonic Module or Galactic Spin. And, based on the day you were born, you will have one of those kins or position within the matrix.</p>
  <p>Each Kin and its supportive energies conform an Oracle. Becoming familiar with your Oracle of Birth allows you to know yourself better while you open up to a path filled with amazing opportunities of self-discovery and unfoldment of your true potential. 'Energy flows where Attention goes'… Once you become aware of your own energies and you follow the cycle, you will be living in the present moment and start experiencing increasing synchronicities and magic in your life!</p>
  <p>The following section contains a general overview of the Tzolkin components. If you are interested to learn more about it, as well as other features contained in the Dreamspell by Dr. Jose Arguelles, please visit <a href="http://www.lawoftime.org">www.lawoftime.org</a>.</p>
  <h2>20 Solar Seals</h2>
  <img src="http://mayankin.com/imgs/tzolkin/solarSeals.jpg" alt="Solar Seals" height="260" ng-click="open('solarSeals.html')">
  <p>From a Psychology perspective, the Solar Seals can be understood as archetypes or behavior patterns. In Western Astrology, they can be seen as Astrological signs. For the Mayans, the glyphs were vibratory energies indicating our Mission in life.</p>
  <p>Based on your date of birth, you will have one of the Solar Seals as your main energy or sign, a specific frequency representing a genetic activation code. This energy, in combination with others will help you to connect with your own essence and the web of life, and to understand why you are here and what you are here to do.</p>
  <p>We can experience the energies in two different ways. As spiritual beings, we are connected with its Light on a soul level. As human beings, we may live the Shadows on an ego level. This is why two people with the same Kin may have different attitudes towards life.</p>
  <p>When someone do an Oracle Reading, they go over your combination of energies from both perspectives identifying in which aspects you are connected from Light and Shadow.</p>
  <p>The goal of working with our own energies is to recover balance, harmony and wellbeing by knowing ourselves better and developing healthier relationships, while enjoying the journey and creating a meaningful life!</p>
  <h2>13 Lunar Tones</h2>
  <img src="http://mayankin.com/imgs/tzolkin/13LunarTones.jpg" alt="Lunar Tones" height="300" ng-click="open('lunarTones.html')">
  <p>The 13 Lunar Tones are numbers known as the Tones of Creation</p>
  <p>Each day has a specific energy or creative power, which indicates the vibration and action to take:</p>
  <ul>
    <li>Magnetic Tone (1): Tone of Purpose and Attraction (starts a Wavespell)</li>
    <li>Lunar Tone (2): Tone of Challenge and Polarity</li>
    <li>Electric Tone (3): Tone of Service and Bonding</li>
    <li>Self-Existing Tone (4): Tone of Form and Measurement</li>
    <li>Overtone Tone (5): Tone of Radiance and Empowerment</li>
    <li>Rhythmic Tone (6): Tone of Equality and Balance</li>
    <li>Resonant Tone (7): Tone of Attunement and Inspiration</li>
    <li>Galactic Tone (8): Tone of Integrity and Harmonization</li>
    <li>Solar Tone (9): Tone of Intention and Realization</li>
    <li>Planetary Tone (10): Tone of Manifestation and Perfection</li>
    <li>Spectral Tone (11): Tone of Liberation and Releasing</li>
    <li>Crystal Tone (12): Tone of Cooperation and Dedication</li>
    <li>Cosmic Tone (13): Tone of Presence and Transcendence (ends a Wavespell)</li>
  </ul>
  <p>Any process can be accomplished within these 13 steps!</p>

  <small>*Texts and Images grabbed from <a href="http://mayankin.com/tzolkin_/">http://mayankin.com/tzolkin_/</a></small>
</div>